* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(47, 116, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.register-box {
    background-color: #e5e2e2aa;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.914);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.terms {
    display: flex;
    align-items: center;
}

.terms input {
    margin-right: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

/* Enlace para iniciar sesión si ya tiene cuenta */
.login-link {
    margin-top: 15px;
}

.login-link a {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
